{% extends 'base/base.html' %}

{% block 'title' %} Actualizar Tarea {% endblock %}

{% block 'content' %}

<form action="" method="post" class="d-flex flex-column align-items-center border m-4 p-4">
    <h2>Actualizar {{todo}}</h2>
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <div class="m-2 p-2">
        <input type="submit" value="Actualizar tarea" class="btn btn-info">
        <a href="{% url 'todo_list' %}" class="btn btn-primary">Cancelar</a>
    </div>
</form>

{% endblock %}