{% extends 'base/base.html' %}

{% block 'title' %} Actualizar Contacto {% endblock %}

{% block 'content' %}

<form action="" method="post" class="d-flex flex-column align-items-center border m-4 p-4">
    <h3>Actualizar Contacto</h3>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <div class="m-2 p-2">
        <input type="submit" value="Actualizar Contacto" class="btn btn-success">
        <a href="{% url 'detail_contact' pk=contact.id %}" class="btn btn-primary">Cancelar</a>
    </div>
</form>

{% endblock %}