{% extends 'base/base.html' %}

{% block 'title' %} Eliminar Usuario {% endblock %}

{% block 'content' %}
<form action="" method="post" class="d-flex flex-column align-items-center border m-4 p-4">
    {% csrf_token %}
    <div class="alert alert-danger" role="alert">
        ¿Desea Eliminar su perfil de usuario?
      </div>
    <div class="m-2 p-2">
        <input type="submit" value="Confirmar" class="btn btn-danger">
        <a href="{% url 'index' %}" class="btn btn-primary">Cancelar</a>
    </div>
</form>
{% endblock %}